<sly-card
        class="custom-sly-card-border-radius div-without-paddings mb10"
        title="Queues Stats"
        subtitle="statistics for every queue"
        style="width: 100%">
    <div

            v-loading="false" element-loading-text="refreshing table...">

        <sly-field title=""
                   class="mt10 mb10">

            <div slot="title">

                <div class="custom-collapse"
                     @click="state.collapsedQueues.labeling_q=!state.collapsedQueues.labeling_q">


                    <i v-if="state.collapsedQueues.labeling_q" class="el-icon-arrow-up mr5"></i>
                    <i v-else class="el-icon-arrow-down mr5"></i>

                    <b>Labeling Queue</b>

                </div>

            </div>

            <div>
                <p style="margin-bottom: 0; color: #8d8d8d; font-size: 12px">
                    waiting <b style="color: #007aff;">{{data.labelingWaitingTable.length}} / {{state.itemsCount}}</b>
                </p>

                <el-progress
                        class="hide-percentage-from-progress"
                        :percentage="data.labelingWaitingTable.length / state.itemsCount * 100"></el-progress>
                <p style="margin-bottom: 0; color: #8d8d8d; font-size: 12px">
                    labeling <b style="color: #007aff;">{{data.labelingInProgressTable.length}} /
                    {{state.itemsCount}}</b>
                </p>

                <el-progress
                        class="hide-percentage-from-progress"
                        :percentage="data.labelingInProgressTable.length / state.itemsCount * 100"></el-progress>
            </div>

            <div
                    style="margin-top: 20px; margin-right: 50px;"
                    v-if="state.collapsedQueues.labeling_q">
                <el-tabs type="border-card">
                    <el-tab-pane label="Waiting">
                        <el-table
                                v-if="data.labelingWaitingTable.length > 0"
                                :data="data.labelingWaitingTable"
                                border
                                class="disable_overflow_by_x_for_table"
                                style="width: 100%"
                                max-height="250">
                            <el-table-column
                                    v-if="data.labelingWaitingTable[0].item_id != null"
                                    prop="item_id"
                                    sortable
                                    label="ITEM ID"
                                    width="120px">

                                <template scope="scope">
                                    {{scope.row.item_id}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="item_name"
                                    sortable
                                    label="ITEM NAME"
                            >
                                <template scope="scope">
                                    {{scope.row.item_name}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="duration"
                                    sortable
                                    label="DURATION"
                            >
                                <template scope="scope">
                                    {{scope.row.duration}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="WORKER"
                            >
                                <template scope="scope">
                                    {{scope.row.worker_login}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="TIME IN WORK">
                                <template scope="scope">
                                    {{scope.row.item_work_time}}
                                </template>
                            </el-table-column>
                        </el-table>
                        <sly-field v-else
                                   title="INFO: Table is Empty"
                                   description="there is no items in this table"
                                   style="margin-bottom: 0"
                        >
                            <sly-icon slot="icon" :options="{ color: '#4c9ef8', bgColor: '#e3f0ff', rounded: false }">
                                <i class="zmdi zmdi-info"></I>
                            </sly-icon>
                        </sly-field>
                    </el-tab-pane>
                    <el-tab-pane label="Labeling">
                        <el-table
                                v-if="data.labelingInProgressTable.length > 0"
                                :data="data.labelingInProgressTable"
                                border
                                class="disable_overflow_by_x_for_table"
                                style="width: 100%"
                                max-height="250">
                            <el-table-column
                                    v-if="data.labelingWaitingTable[0].item_id != null"
                                    prop="item_id"
                                    sortable
                                    label="ITEM ID"
                                    width="120px">

                                <template scope="scope">
                                    {{scope.row.item_id}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="item_name"
                                    sortable
                                    label="ITEM NAME"
                            >
                                <template scope="scope">
                                    {{scope.row.item_name}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="duration"
                                    sortable
                                    label="DURATION"
                            >
                                <template scope="scope">
                                    {{scope.row.duration}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="WORKER"
                            >
                                <template scope="scope">
                                    {{scope.row.worker_login}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="TIME IN WORK">
                                <template scope="scope">
                                    {{scope.row.item_work_time}}
                                </template>
                            </el-table-column>
                        </el-table>
                        <sly-field v-else
                                   title="INFO: Table is Empty"
                                   description="there is no items in this table"
                                   style="margin-bottom: 0"
                        >
                            <sly-icon slot="icon" :options="{ color: '#4c9ef8', bgColor: '#e3f0ff', rounded: false }">
                                <i class="zmdi zmdi-info"></I>
                            </sly-icon>
                        </sly-field>
                    </el-tab-pane>

                </el-tabs>

            </div>
        </sly-field>

        <hr style="border: 0; margin: 20px 0; border-top: 2px dashed rgba(0,0,0,.12);"/>

        <sly-field title=""
                   class="mt10 mb10">

            <div slot="title">

                <div class="custom-collapse"
                     @click="state.collapsedQueues.reviewing_q=!state.collapsedQueues.reviewing_q">


                    <i v-if="state.collapsedQueues.reviewing_q" class="el-icon-arrow-up mr5"></i>
                    <i v-else class="el-icon-arrow-down mr5"></i>

                    <b>Reviewing Queue</b>

                </div>

            </div>
            <div>
                <p style="margin-bottom: 0; color: #8d8d8d; font-size: 12px">
                    waiting <b style="color: #007aff;">{{data.reviewingWaitingTable.length}} / {{state.itemsCount}}</b>
                </p>
                <el-progress
                        class="hide-percentage-from-progress"
                        :percentage="data.reviewingWaitingTable.length / state.itemsCount * 100"></el-progress>
                <p style="margin-bottom: 0; color: #8d8d8d; font-size: 12px">
                    reviewing <b style="color: #007aff;">{{data.reviewingInProgressTable.length}} /
                    {{state.itemsCount}}</b>
                </p>
                <el-progress
                        class="hide-percentage-from-progress"
                        :percentage="data.reviewingInProgressTable.length / state.itemsCount * 100"></el-progress>
            </div>

            <div style="margin-top: 20px; margin-right: 50px;"
                 v-if="state.collapsedQueues.reviewing_q">
                <el-tabs type="border-card">
                    <el-tab-pane label="Waiting">
                        <el-table
                                v-if="data.reviewingWaitingTable.length > 0"
                                :data="data.reviewingWaitingTable"
                                border
                                class="disable_overflow_by_x_for_table"
                                style="width: 100%"
                                max-height="250">
                            <el-table-column
                                    v-if="data.reviewingWaitingTable[0].item_id != null"
                                    prop="item_id"
                                    sortable
                                    label="ITEM ID"
                                    width="120px">

                                <template scope="scope">
                                    {{scope.row.item_id}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="item_name"
                                    sortable
                                    label="ITEM NAME"
                            >
                                <template scope="scope">
                                    {{scope.row.item_name}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="duration"
                                    sortable
                                    label="DURATION"
                            >
                                <template scope="scope">
                                    {{scope.row.duration}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="WORKER"
                            >
                                <template scope="scope">
                                    {{scope.row.worker_login}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="TIME IN WORK">
                                <template scope="scope">
                                    {{scope.row.item_work_time}}
                                </template>
                            </el-table-column>
                        </el-table>
                        <sly-field v-else
                                   title="INFO: Table is Empty"
                                   description="there is no items in this table"
                                   style="margin-bottom: 0"
                        >
                            <sly-icon slot="icon" :options="{ color: '#4c9ef8', bgColor: '#e3f0ff', rounded: false }">
                                <i class="zmdi zmdi-info"></I>
                            </sly-icon>
                        </sly-field>
                    </el-tab-pane>
                    <el-tab-pane label="Reviewing">
                        <el-table
                                v-if="data.reviewingInProgressTable.length > 0"
                                :data="data.reviewingInProgressTable"
                                border
                                class="disable_overflow_by_x_for_table"
                                style="width: 100%"
                                max-height="250">
                            <el-table-column
                                    v-if="data.reviewingInProgressTable[0].item_id != null"
                                    prop="item_id"
                                    sortable
                                    label="ITEM ID"
                                    width="120px">

                                <template scope="scope">
                                    {{scope.row.item_id}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="item_name"
                                    sortable
                                    label="ITEM NAME"
                            >
                                <template scope="scope">
                                    {{scope.row.item_name}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="duration"
                                    sortable
                                    label="DURATION"
                            >
                                <template scope="scope">
                                    {{scope.row.duration}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="WORKER"
                            >
                                <template scope="scope">
                                    {{scope.row.worker_login}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="TIME IN WORK">
                                <template scope="scope">
                                    {{scope.row.item_work_time}}
                                </template>
                            </el-table-column>
                        </el-table>
                        <sly-field v-else
                                   title="INFO: Table is Empty"
                                   description="there is no items in this table"
                                   style="margin-bottom: 0"
                        >
                            <sly-icon slot="icon" :options="{ color: '#4c9ef8', bgColor: '#e3f0ff', rounded: false }">
                                <i class="zmdi zmdi-info"></I>
                            </sly-icon>
                        </sly-field>
                    </el-tab-pane>

                </el-tabs>
            </div>
        </sly-field>

        <hr style="border: 0; margin: 20px 0; border-top: 2px dashed rgba(0,0,0,.12);"/>

        <sly-field title=""
                   class="mt10 mb10">

            <div slot="title">

                <div class="custom-collapse"
                     @click="state.collapsedQueues.completed_q=!state.collapsedQueues.completed_q">


                    <i v-if="state.collapsedQueues.completed_q" class="el-icon-arrow-up mr5"></i>
                    <i v-else class="el-icon-arrow-down mr5"></i>

                    <b>Completed</b>

                </div>

            </div>
            <div>
                <p style="margin-bottom: 0; color: #8d8d8d; font-size: 12px">
                    items that have been completed
                    <b style="color: #01b133;">
                        {{data.completedItemsTable.length}} / {{state.itemsCount}}
                    </b>
                </p>
                <el-progress
                        class="hide-percentage-from-progress"
                        :percentage="data.completedItemsTable.length / state.itemsCount * 100"
                        status="success"></el-progress>

            </div>


            <div style="margin-top: 20px; margin-right: 50px;"
                 v-if="state.collapsedQueues.completed_q">
                <el-table
                        v-if="data.completedItemsTable.length > 0"
                        :data="data.completedItemsTable"
                        border
                        class="disable_overflow_by_x_for_table"
                        style="width: 100%"
                        max-height="250">
                    <el-table-column
                            v-if="data.completedItemsTable[0].item_id != null"
                            prop="item_id"
                            sortable
                            label="ITEM ID"
                            width="120px">

                        <template scope="scope">
                            {{scope.row.item_id}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="item_name"
                            sortable
                            label="ITEM NAME"
                    >
                        <template scope="scope">
                            {{scope.row.item_name}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="duration"
                            sortable
                            label="DURATION"
                    >
                        <template scope="scope">
                            {{scope.row.duration}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="WORKER"
                    >
                        <template scope="scope">
                            {{scope.row.worker_login}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="TIME IN WORK">
                        <template scope="scope">
                            {{scope.row.item_work_time}}
                        </template>
                    </el-table-column>
                </el-table>
                <sly-field v-else
                           title="INFO: Table is Empty"
                           description="there is no items in this table"
                           style="margin-bottom: 0"
                >
                    <sly-icon slot="icon" :options="{ color: '#4c9ef8', bgColor: '#e3f0ff', rounded: false }">
                        <i class="zmdi zmdi-info"></I>
                    </sly-icon>
                </sly-field>

            </div>
        </sly-field>


    </div>
</sly-card>