<sly-card
        class="custom-sly-card-border-radius mb10"
        title="Set Permissions"
        subtitle="set users permissions to annotate and review data"
        style="width: 100%; padding-bottom: 10px">
    <div v-loading="state.refreshingUsersTable" element-loading-text="refreshing table...">
        <sly-field>
            <el-table
                    :data="data.usersTable"
                    border
                    class="disable_overflow_by_x_for_table table-header-font-size"
                    style="width: 100%"
                    max-height="250">
                <el-table-column

                        prop="id"
                        sortable
                        label="USER ID"
                        width="120px">
                    <template scope="scope">
                        {{scope.row.id}}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="login"
                        sortable
                        label="LOGIN"
                >
                    <template scope="scope">
                        {{scope.row.login}}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="role"
                        sortable
                        label="ROLE"
                >
                    <template scope="scope">
                        {{scope.row.role}}
                    </template>
                </el-table-column>
                <el-table-column
                        label="LAST LOGIN"
                >
                    <template scope="scope">
                        {{scope.row.last_login}}
                    </template>
                </el-table-column>

                <el-table-column
                        label="CAN ANNOTATE">
                    <template scope="scope">
                        <el-switch
                                v-model="state.annotatorsIds[scope.row.id]"
                                on-text=""
                                off-text="">
                        </el-switch>

                    </template>
                </el-table-column>

                <el-table-column
                        label="CAN REVIEW">
                    <template scope="scope">
                        <el-switch
                                v-model="state.reviewersIds[scope.row.id]"
                                on-text=""
                                off-text="">
                        </el-switch>

                    </template>
                </el-table-column>

            </el-table>
        </sly-field>

        <div class="fflex"
             style="flex-direction: row; justify-content: flex-end; align-items: center">
            <div class="fflex" style="justify-content: center; align-items: flex-end; flex-direction: row">
                <div class="fflex" style="justify-content: center; flex-direction: column">


                    <el-button style="margin: 2px 3px"
                               size="small"
                               type="warning" class="regular mt10" :plain="true"
                               @click="state.refreshingUsersTable=true; command('refresh_users_table');">
                        <i class="zmdi zmdi-refresh mr5"></i>refresh table

                    </el-button>
                    <p style="font-size: 12px; color: #5a6772; margin: 3px 0">
                        last update: <b style="color: #453e00;">{{state.refreshingUsersTableTime}}</b></p>


                </div>
            </div>

        </div>
    </div>
</sly-card>