<div id="annotations-controller-ecosystem-application">
    <sly-style>
        #annotations-controller-ecosystem-application .custom-sly-card-border-radius {
        border-radius: 18px;
        padding: 18px 24px;
        }

        #annotations-controller-ecosystem-application .beautiful-table {
        border-collapse: collapse;
        overflow-x: scroll;

        }
        #annotations-controller-ecosystem-application .beautiful-table tr:nth-child(2n) { background-color: #f6f8fa; }
        #annotations-controller-ecosystem-application .beautiful-table td, .beautiful-table th {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
        text-align: center;
        line-height: 20px;
        }
        #annotations-controller-ecosystem-application .beautiful-table.al td, .beautiful-table.al th {
        text-align: left;
        }


        #annotations-controller-ecosystem-application .disable_overflow_by_x_for_table .el-table__body-wrapper {
        overflow-x:hidden;
        }

        #annotations-controller-ecosystem-application .hide-percentage-from-progress .el-progress__text {
        display: none;
        }


        #annotations-controller-ecosystem-application .custom-collapse {
        cursor:pointer;
        transition: all 0.2s;


        }

        #annotations-controller-ecosystem-application .custom-collapse:hover {

        color: #039aff;
        }

        #annotations-controller-ecosystem-application .div-without-paddings .content {
        padding:0 0;

        }

        #annotations-controller-ecosystem-application .table-header-font-size .el-table__header {
        font-size: 12px;
        }



    </sly-style>

    {% include 'src/ui/project_preferences.html' %}
    {% include 'src/ui/select_users.html' %}
    {% include 'src/ui/users_stats.html' %}
    {% include 'src/ui/queue_stats.html' %}


    <el-dialog
            title="Restart from this step"
            :visible.sync="state.restartFrom"
            size="tiny">
        <span>This step and all next steps will be reseted</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="state.restartFrom = null">Cancel</el-button>
            <!--        $nextTick(() => { $refs['card3'].$el.scrollIntoView({behavior: 'smooth', block: 'center'}); });-->
            <el-button type="primary" class="regular"
                       @click="command('restart');">
                Confirm
            </el-button>
        </span>
    </el-dialog>


</div>